capsule-alert {
  position: relative;
  width: 100%;
  border-radius: var(--radius-lg);
  border: 1px solid var(--border);
  padding: 0.75rem 1rem;
  font-size: var(--font-size-sm);
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 0.125rem;
  align-items: flex-start;
  box-sizing: border-box;
}

capsule-alert:has(> svg) {
  grid-template-columns: 1rem 1fr;
  column-gap: 0.75rem;
}

capsule-alert > svg {
  width: 1rem;
  height: 1rem;
  transform: translateY(0.125rem);
  color: currentColor;
  grid-column: 1;
  grid-row: 1;
}

capsule-alert > :not(svg) {
  grid-column: 2;
}

/* Variants */
capsule-alert:not([variant]),
capsule-alert[variant='default'] {
  background-color: var(--card);
  color: var(--card-foreground);
}

capsule-alert[variant='destructive'] {
  color: var(--destructive);
  background-color: var(--card);
}

capsule-alert[variant='destructive'] > svg {
  color: currentColor;
}

capsule-alert[variant='destructive'] capsule-alert-description {
  color: color-mix(in srgb, var(--destructive) 90%, transparent);
}

/* Title */
capsule-alert-title {
  grid-column-start: 2;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 1rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.025em;
  margin: 0;
}

/* Description */
capsule-alert-description {
  grid-column-start: 2;
  display: grid;
  justify-items: start;
  gap: 0.25rem;
  color: var(--muted-foreground);
  font-size: var(--font-size-sm);
  margin: 0;
}

capsule-alert-description p {
  line-height: 1.625;
}
