capsule-divider {
  background-color: var(--border);
  flex-shrink: 0;
}

capsule-divider,
capsule-divider[orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

capsule-divider[orientation='vertical'] {
  height: 100%;
  width: 1px;
}
