__PREFIX__-__COMPONENT__ {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  font-family: var(--font-family);
  box-sizing: border-box;
  color: var(--foreground);
}

__PREFIX__-__COMPONENT__::part(calendar-header) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

__PREFIX__-__COMPONENT__::part(current-month) {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--foreground);
}

__PREFIX__-__COMPONENT__::part(weekdays) {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--muted-foreground);
  font-weight: var(--font-weight-normal);
  border-radius: var(--radius-md);
  flex: 1;
}

__PREFIX__-__COMPONENT__::part(weekdays) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

__PREFIX__-__COMPONENT__::part(days-grid) {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  margin-top: 0.5rem;
  width: 100%;
}

__PREFIX__-__COMPONENT__::part(day) {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: var(--radius-md);
  cursor: default;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 0;
  color: var(--foreground);
}

__PREFIX__-__COMPONENT__::part(day):hover:not(
    __PREFIX__-__COMPONENT__::part(day disabled)
  ):not(__PREFIX__-__COMPONENT__::part(day selected)) {
  background: var(--accent);
  color: var(--accent-foreground);
}

__PREFIX__-__COMPONENT__::part(day other-month) {
  color: var(--muted-foreground);
}

__PREFIX__-__COMPONENT__::part(day selected) {
  background-color: var(--primary);
  color: var(--primary-foreground);
  opacity: 1;
}

__PREFIX__-__COMPONENT__::part(day selected):hover {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

__PREFIX__-__COMPONENT__::part(day selected):focus {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

__PREFIX__-__COMPONENT__::part(day today):not(
    __PREFIX__-__COMPONENT__::part(day selected)
  ) {
  background-color: var(--accent);
  color: var(--accent-foreground);
  border: none;
}

__PREFIX__-__COMPONENT__::part(day disabled) {
  color: var(--muted-foreground);
  opacity: 0.5;
  cursor: not-allowed;
}

__PREFIX__-__COMPONENT__::part(day disabled):hover {
  background: transparent;
  color: var(--muted-foreground);
}
