__PREFIX__-__COMPONENT__ {
  background-color: var(--border);
  flex-shrink: 0;
}

__PREFIX__-__COMPONENT__,
__PREFIX__-__COMPONENT__[orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

__PREFIX__-__COMPONENT__[orientation='vertical'] {
  height: 100%;
  width: 1px;
}
