__PREFIX__-__COMPONENT__ {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  color: currentColor;
}

__PREFIX__-__COMPONENT__ svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  display: block;
}

__PREFIX__-__COMPONENT__[size='xs'] {
  width: 0.75rem;
  height: 0.75rem;
}

__PREFIX__-__COMPONENT__[size='sm'] {
  width: 1rem;
  height: 1rem;
}

__PREFIX__-__COMPONENT__[size='md'] {
  width: 1.25rem;
  height: 1.25rem;
}

__PREFIX__-__COMPONENT__[size='lg'] {
  width: 1.5rem;
  height: 1.5rem;
}

__PREFIX__-__COMPONENT__[size='xl'] {
  width: 2rem;
  height: 2rem;
}

