capsule-progress {
  position: relative;
  width: 100%;
  height: 0.5rem;
  overflow: hidden;
  border-radius: var(--radius-full);
  background-color: color-mix(in srgb, var(--primary) 20%, transparent);
}

capsule-progress .progress-bar {
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  border-radius: var(--radius-full);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(calc(-100% + var(--progress, 0%)));
}
